#logo {
	background: url('Images/Logo.png');
	background-repeat: no-repeat;
	width: 250px;
	height: 50px;
	margin-top: 7px;
	margin-bottom: 8px;
	margin-left: 15px;
}

#login_button,
#logout_button {
	position:absolute;
	text-indent:0;
	display:inline-block;
	color:#909090;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;	
	border-radius: 15px; 
	top:15%;
}

#login_button,
#logout_button {
	right:5px;
}

#login_button {
	background: url('Images/LoginButton.png');
}

#logout_button {
	background: url('Images/LogoutButton.png');
}

#login_button:active,
#logout_button:active {
	position:absolute;
	top:13%;
	right:5px;
}

body {
	font-family:Arial, Helvetica, sans-serif;
	text-shadow:1px 1px 0px #ffffff;
	right: auto;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	background: -webkit-linear-gradient(top, #98DFFC 0%,#ffffff 300px); /* Chrome10+,Safari5.1+ */
}

.top {
	background-color:#909090;
	margin-right: auto;
	margin-left: auto;
	position:relative;
	padding: 5px 35px 1px 0px;
	border-radius: 15px;
}

.form_label {
	width: 30%;
	text-align: right;
	margin-left: 5px;
}
.form_field {
	width: 70%;
	margin-right: 5px;
}
.form_submit {
	width: 60%;
	margin-left: 20%;
}

.overview {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.overview table{
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.overview tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.overview table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.overview table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.overview tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.overview tr:hover td{
	
}
.overview tr:nth-child(odd){ background-color:#aad4ff; }
.overview tr:nth-child(even)    { background-color:#ffffff; }.overview td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:0px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.overview tr:last-child td{
	border-width:0px 1px 0px 0px;
}.overview tr td:last-child{
	border-width:0px 0px 1px 0px;
}.overview tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.overview tr:first-child td{
		background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);

	background-color:#005fbf;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.overview tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);

	background-color:#005fbf;
}
.overview tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.overview tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
