body {
	font-family:Arial, Helvetica, sans-serif;
	text-shadow:1px 1px 0px #ffffff;
	right: auto;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	background: -webkit-linear-gradient(top, #98DFFC 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
}

span#title {
	color: #000000;
}

.top_right{
	position:absolute;
	top:5px;
	right:5px;
}

.bottom_right{
	position:absolute;
	top:30px;
	right:5px;
}

.notes {
	height:50px;
    overflow:auto;
    background:#fff;
	border: 1px solid #000;
}

.symptoms {
	height:50px;
    overflow:auto;
    background:#fff;
	margin-bottom:10px;
	border: 1px solid #000;
}

#login_button,
#logout_button,
#account_button,
#report_button,
#home_button {
	background: url('Art/ButtonBackground.png');
	position:absolute;
	text-indent:0;
	display:inline-block;
	color:#909090;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;	
	border-radius: 15px; 
	top:15%;
}

#login_button,
#logout_button {
	right:5px;
}

#login_button:active,
#logout_button:active {
	position:absolute;
	top:13%;
	right:5px;
}

#account_button {
	right:120px;
}

#account_button:active {
	position:absolute;
	top: 13%;
	right:120px;
}

#report_button {
	right: 235px;
}

#report_button:active {
	position: absolute;
	top: 13%;
	right: 235px;
}

#home_button {
	right: 120px;
}

#home_button:active {
	position: absolute;
	top: 13%;
	right: 120px;
}

#overview_button:hover,
#login_button:hover,
#logout_button:hover,
#account_button:hover,
#report_button:hover,
#home_button:hover {
	background-color:#dfdfdf;
}

.top {
	background-color:#909090;
	margin-right: auto;
	margin-left: auto;
	position:relative;
	padding: 5px 35px 1px 0px;
	border-radius: 15px;
}

.main {
	width: 90%;
	position:relative;
	margin-left: auto;
	margin-bottom: 4px;
	background-color:#dfdfdf;
	text-align:left;
	font-size:12pt;
	border-style:solid;
	border-width:5px;
	border-color:black;
	border-width:2px;
	margin-right: auto;
	border:2px solid #000;
	border-radius: 15px;
	padding: 10px 15px;
	height: 205px;
}
#login_wrapper {
	z-index: 10000;
	background: rgba(0, 0, 0, 0.4);
	position:fixed;
	top: 0px; 
	left: 0px; 
	width: 100%; 
	height: 100%; 
	text-align:center;
	vertical-align:middle;
}

#login_overlay {
	opacity: 1.0;
	background: rgba(255, 255, 255, 1);
	color: rgba(0, 0, 0, 1);
	border-radius: 15px;
	width: 500px;
	height: 200px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}

#candiv {
	margin-left: auto;
	margin-right: auto;
}

.form_label {
	width: 30%;
	text-align: right;
	margin-left: 5px;
}
.form_field {
	width: 70%;
	margin-right: 5px;
}
.form_submit {
	width: 60%;
	margin-left: 20%;
}
#register_overlay {
	opacity: 1.0;
	background: rgba(255, 255, 255, 1);
	color: rgba(0, 0, 0, 1);
	border-radius: 15px;
	width: 500px;
	height: 200px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;

}

div.content {
	width: 95%;
	background-color: #FFF;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	font-family:Arial, Helvetica, sans-serif;
	text-shadow:1px 1px 0px #ffffff;
}

span.section_header {
	text-align: center;
}

.checkbox-grid li {
    display: block;
    float: left;
    width: 25%;
}

textarea {
	float: none;
}